.contact {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.number {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    align-self: center;
}

.button:hover {
    background-color: #3e8e41;
}